:root {
  --homepage-background-color: #f9f7fe;
  --primary-text-color: #272142;
  --second-text-color: #6c63ff;
  --main-head-font-text: playfair;
  --second-font-text: poppins;
}
body {
  font-family: var(--second-font-text);
}
nav {
  padding: 20px 0;
}

.nav-logo,
.nav-small-logo {
  max-height: 42px;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 20px;
  font-weight: bold;
}

nav a {
  color: #272142;
  opacity: 0.7;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--second-text-color);
}

h1 {
  font-family: var(--main-head-font-text);
  color: black;
  font-weight: bold;
  font-size: 96px;
}

.homepage {
  background-color: var(--homepage-background-color);
  text-align: center;
  padding: 160px 20px;
  color: var(--primary-text-color);
}

.homepage h1 {
  font-size: 96px;
  font-weight: bold;
  color: black;
}

.homepage h2 {
  font-family: var(--second-font-text);
  font-size: 24px;
  font-weight: normal;
}

.homepage p {
  font-family: var(--second-font-text);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background-color: #6b63ff;
  color: white;
  padding: 15px 15px;
  margin-top: 30px;
  border-radius: 4px;
}

.project-title {
  font-family: poppins;
  font-size: 18px;
  text-align: center;
}

.text-project {
  padding: 120px;
}

.text-project h1 {
  font-size: 64px;
  font-weight: bold;
}

.text-project p {
  font-family: poppins;
  font-weight: normal;
  font-size: 16px;
  margin: 25px auto;
}

.text-project a {
  border-color: #6b63ff;
  border-radius: 4px;
  color: #6b63ff;
  padding: 20px;
  font-weight: bold;
}

footer .contact-box {
  background-color: var(--homepage-background-color);
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  margin: 100px;
}
footer .contact-box h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--main-head-font-text);
}

footer .contact-me {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

footer .contact-me:hover {
  color: var(--second-text-color);
}

footer .social-links {
  display: flex;
  justify-content: center;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--second-text-color);
  background-color: #f9f7fe;
  padding: 10px 16px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  font-size: 18px;
}

footer .social-links a:hover {
  color: white;
  background-color: #6b63ff;
}

footer .back-homepage {
  font-size: 15px;
  color: var(--second-text-color);
  text-decoration: none;
}
.container-content {
  padding: 160px 20px;
}

.container-content h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
}
.container-content h2 {
  font-size: 18px;
  font-family: var(--second-font-text);
  font-weight: bold;
}

.container-content h3 {
  font-size: 24px;
  font-weight: bold;
}

.container-content p {
  font-family: var(--second-font-text);
  font-size: 16px;
  line-height: 1.7;
}

.section-content {
  margin: 30px;
}

.image-candela {
  max-width: 100%;
  padding: 40px;
  border-radius: 10%;
}

@media (max-width: 900px) {
  nav li {
    font-size: 14px;
    margin-left: 5px;
  }

  .homepage {
    padding: 80px 20px;
  }
  .homepage p {
    margin-bottom: 6px;
    font-size: 30px;
  }
  .homepage h1 {
    font-size: 55px;
    line-height: 1;
    margin-bottom: 15px;
  }
  .homepage h2 {
    font-size: 18px;
  }

  .text-project {
    text-align: center;
    padding: 30px;
  }

  .text-project h1 {
    font-size: 40px;
  }

  footer .contact-box {
    margin: 30px;
    text-align: center;
  }
  footer .contact-box h2 {
    font-size: 35px;
  }

  .container-content {
    text-align: center;
    padding: 30px;
  }
  .container-content h1 {
    font-size: 60px;
    line-height: 1.2;
    padding: 10px;
    margin-bottom: 2px;
  }

  .image-candela {
    padding: 0;
  }
}
